# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Logs
/admin_frontend/logs
/admin_frontend/*.log
/admin_frontend/npm-debug.log*
/admin_frontend/yarn-debug.log*
/admin_frontend/yarn-error.log*
/admin_frontend/pnpm-debug.log*
/admin_frontend/lerna-debug.log*

/admin_frontend/node_modules
/admin_frontend/dist
/admin_frontend/dist-ssr
/admin_frontend/*.local




/backend/*.log
/backend/.DS_Store
/backend/.env
/backend/.env.backup
/backend/.env.production
/backend/.phpactor.json
/backend/.phpunit.result.cache
/backend/.codex
/backend/.cursor/
/backend/.idea
/backend/.nova
/backend/.phpunit.cache
/backend/.vscode
/backend/.zed
/backend/auth.json
/backend/node_modules
/backend/public/build
/backend/public/fonts-manifest.dev.json
/backend/public/hot
/backend/public/storage
/backend/storage/*.key
/backend/storage/pail
/backend/vendor
/backend/_ide_helper.php
/backend/Homestead.json
/backend/Homestead.yaml
/backend/Thumbs.db
